body{
    background-image: url("../Images/redbackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
h4{
    margin: 10.5px 0px 10.5px 0px;
    font-size: 16px;
}
.logo-format{
    width: 160px;
    height: 80px;
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    transition: all 0.6s;
    
}
.shrink-logo{
    width: 120px;
    height: 60px;
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    transition: all 0.6s;
}
.shrink-form{
    margin-top: 10px;
    height: 60px;
    margin-left: 39%;
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    transition: all 0.6s;
}

.content-forcer{
    height:100px;
}

#content-wrapper{
    width: 93%;
    z-index: -1;
    margin: 0 auto;
}
.header-info{
    margin-left: 10%;
    width: 93%;
    z-index: -1;
    margin: 0 auto;
}
.left-item-group{
    background: solid black;
    width: 35%;
    display: inline-block;
}
.nav-content{
    background: solid black;
    float: right;
    width: 65%;
}
.text-info{
    float: left;
    vertical-align: middle;
    height: 35px;
    margin-bottom: 0;
    background: black;
     width: 25%;
    padding: 8px 5px 5px 5px;
    color: white !important;
    text-align: center;
    font-weight: 600;
}
.text-bright{
    color: white;
}
.text-dark{
    color: black;
}
.text-marquee{
    height: 35px;
    vertical-align: middle;
    background: #222229;
    float: left;
    width: 75% ;
    color: white;
    z-index: -1;
    padding: 8px 5px 5px 5px;
}
.jumbotron {
    margin-bottom: 0;
    background: rgba(255, 255, 255, 0);
}
.left-nav {
    background: #dc0000;
    padding: 8px;
    height: auto;

}
.conts {
    background: #dc0000;
}
.content-wrap {
    background: #dc0000;
    padding: 10px;
    height: auto;
}
.cont {
    margin-top: -19px;
}
.img-slide {
    margin-top: 30px;
}
.cards {
    height: 100px;
    color: yellow;
    text-align: center;
    -moz-box-shadow: 0 0 5px rgb(192, 13, 13);
    -webkit-box-shadow: 0 0 5px rgb(192, 13, 13);
    box-shadow: 0 0 5px rgb(192, 13, 13);
}
.card-sect {
    margin-top: 10px;
}
.menu {
    color: white;
    margin: 0 auto;
    margin-left: 5px;
    padding: 0px 10px 0px 10px;
    transition: all 0.4s;
    font-weight: 350;
    border-bottom: 1px solid #4d0000;
    text-align: left;
}
.keberuntungan {
    text-align: center;
    margin-bottom: 10px;
    color: white;
}
.keberuntungan h3 {
    font-size: 16px;
}
.menu:hover {
    background: #4d0000;
    font-weight: 100;
    cursor: pointer;
}
.htp p {
    font-size: 14px;
    color: white;
}
.htp {
    color: white;
}
.bm-content .title-content
{
    color:white;
}

.table th{
    background: #16788e;
    color:white;
}
.buku-mimpi-table
{
    background:white;
    height:auto;
    max-height: 656px;
    overflow: auto;
}

.htp-content
{
    color:white;
}
.list_cs
{
    font-size:30px;
    padding:10px;
    border:2px solid white;
    border-radius:10px;
    margin-top:10px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e61919+1,e61919+82&1+0,0.12+98 */
    background: -moz-linear-gradient(top, rgba(230,25,25,1) 0%, rgba(230,25,25,0.99) 1%, rgba(230,25,25,0.26) 82%, rgba(230,25,25,0.12) 98%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(230,25,25,1) 0%,rgba(230,25,25,0.99) 1%,rgba(230,25,25,0.26) 82%,rgba(230,25,25,0.12) 98%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(230,25,25,1) 0%,rgba(230,25,25,0.99) 1%,rgba(230,25,25,0.26) 82%,rgba(230,25,25,0.12) 98%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e61919', endColorstr='#1fe61919',GradientType=0 ); /* IE6-9 */
}
.htp-content
{
    color:white;
}
.title-btn li
{
    display: inline-block;
    padding: 8px ;
    text-decoration: none;
    background: #e5d05c;
    background: -moz-linear-gradient(top, #e5d05c 0%, #baa01a 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e5d05c), color-stop(100%,#baa01a));
    background: -webkit-linear-gradient(top, #e5d05c 0%,#baa01a 100%);
    background: -o-linear-gradient(top, #e5d05c 0%,#baa01a 100%);
    background: -ms-linear-gradient(top, #e5d05c 0%,#baa01a 100%);
    background: linear-gradient(to bottom, #e5d05c 0%,#baa01a 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5d05c', endColorstr='#baa01a',GradientType=1 );
    color: #fff;
    border-width: 0;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    border-radius:5px;
    font-weight:bold;

}

.banner-ctn
{
    margin-top:15px;
}

.main-game
{
    padding:5px 0px 5px 0px;
}

.jSlots-wrapper {
    overflow: hidden;
    height: 20px;
    display: inline-block; /* to size correctly, can use float too, or width*/
    border: 1px solid #999;
}

.random_4d {
    display:block;
    padding: 0;
    margin: 0;
    list-style: none;
    float: left;
}

.fancy .jSlots-wrapper {
    overflow: hidden;
    height: 50px;
    display: inline-block; /* to size correctly, can use float too, or width*/
    border: 1px solid #999;
}
.fancy .random_4d li {
    width: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #dcbd13;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.8);
    font-family: tahoma;
    border-left: 1px solid #852d40;
}
.fancy .random_4d:first-child li {
    border-left: none;
}
.fancy .random_4d li span {
    display: block;
}
.button_random{
    width:205px;
    height:35px;
    background-color:#55010f;
    color:#fff;
    border:0px;
}
.button_href{
    width:205px;
    height:35px;
    background-color:#55010f;
    color:#fff;
    border:0px;
}
.container{
    width: 93%;
}
.caurosel{
    width: 100%;
}
.nmargin{
     margin-left: 0;
    margin-right: 0;
}
.col-md-3{
    float: left;
    width: 22%;
}
.col-md-9{
    width: 78%;
    float: left;
}
#nav-sizing {
    width: 100%;
    margin-left: 2%;
}
.daftar{
    margin-top: 5px;
}