body{
    background-image: url("../Images/redbackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.logo-format{
    width: 160px;
    height: 80px;
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    transition: all 0.6s;
    
}
.shrink-logo{
    width: 120px;
    height: 60px;
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    transition: all 0.6s;
}
.shrink-form{
    margin-top: 10px;
    height: 60px;
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    transition: all 0.6s;
}

.content-forcer{
    height: 100px;
}

#content-wrapper{
    width: 90%;
    margin-top: 100px;
    margin: 0 auto;
}
.header-info{
    margin-left: 10%;
    width: 95%;
    margin: 0 auto;
}
.left-item-group{
    background: solid black;
    width: 35%;
    display: inline-block;
}
.nav-content{
    background: solid black;
    float: right;
    width: 65%;
}
.text-info{
    margin-left: 1%;
    float: left;
    margin-bottom: 0;
    background: black;
     width: 25%;
    padding: 5px;
    color: white !important;
    text-align: center;
}
.text-bright{
    color: white;
}
.text-dark{
    color: black;
}
.text-marquee{
    background: #222229;
    float: left;
    width: 74% ;
    color: white;
    padding: 5px;
}