.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #000000;
    color:#fff;
    height: 80px;
    overflow: hidden;
    -webkit-transition: height 0.6s;
    -moz-transition: height 0.6s;
    transition: height 0.6s;
    text-align:center;
    z-index: 1;

}
.header.shrink {
    height: 50px;
}
.header h1
{
    font-size:30px;
    font-weight:normal;
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    transition: all 0.6s;
}

.header.shrink h1
{
    font-size:24px;
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    transition: all 0.6s;
}
.Content
{
}
.header-container{
    height: 75px;
    position: absolute;
    width: 100%;
}
.initiate-session{
    height: 75px;
    margin: auto;
    margin-top: 23px;
    margin-left: 32%;
    display: inline-block;
    width: auto;
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    transition: all 0.6s;
}

.form-control{
    display: inline-block;
}
.Logo-format{
    float: left;
    margin-left: 5%;
}
#username-form-control{
   display: inline-block;
    width: 31.5%;

}
#password-form-control{
    
    margin-left: 26.5px;
    display: inline-block;
    width: 31.5%;
}
#button-form-control{
    margin-top: 3px;
    margin-left: 10px;
    width: 16%;
    height: 38px;
    background: linear-gradient(#990000,#880000,#770000,#660000,#550000,#440000);
    border: none;
   letter-spacing: 2px;
    font-weight: 600;
    transition: 0.5s;
}
#button-form-control:hover{
    margin-top: 3px;
    margin-left: 10px;
    width: 16%;
    height: 38px;
    color: black;
    background: red;
    transition: 0.5s;
    border: none;
   letter-spacing: 2px;
    font-weight: 600;
}